beautifulsoup4==4.*
geojson==3.*
geopandas==1.*
matplotlib==3.10.*
missingno==0.5.*
numpy==2.*
owslib==0.33.*
pandas==2.*
papermill==2.*
plotly==6.*
pyarrow==19.*
pytorch-lightning==2.*
scipy==1.*
scikit-learn==1.*
seaborn==0.13.*
torch==2.*
tqdm==4.*
transformers==4.*
